{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

</head>
<body>
{% block mainmenu %}
<header>
    <div class="px-3 py-2 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small me-auto">
                    {% if not user.is_authenticated %}
                        {% for el in menu %}
                            <li>
                                <a href="{% url el.url_name %}" class="nav-link" style="color: #9370DB">{{ el.title }}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li>
                            <a href="{% url 'home' %}" class="nav-link" style="color: #9370DB">Главная</a>
                        </li>
                        <li>
                            <a href="{% url 'popular' %}" class="nav-link" style="color: #9370DB">Популярное</a>
                        </li>
                        <li>
                            <a href="{% url 'ask' %}" class="nav-link" style="color: #9370DB">Задать вопрос</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}" class="nav-link text-white">Log out</a>
                        </li>
                    {% endif %}
                    <li><a class="nav-link text-white">{{ user.get_full_name }}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="px-3 py-2 border-bottom mb-3">
      <div class="container d-flex flex-wrap justify-content-center">
        <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
      </div>
    </div>
</header>
{% endblock mainmenu %}

<!-- Content -->
<div class="container mb-4">
    {% block content %}
    {% endblock %}
</div>

<!-- Pagination -->
{% if page_obj.has_other_pages %}
<nav class="mb-4">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            </li>
        {% endif %}
        {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                </li>
            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

<!-- Divider -->
<div style="height: 4rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);">
</div>

<!-- Footer -->
<div class="container">
    <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item">
          <a href="{% url 'home' %}" class="nav-link" style="color: #9370DB">Главная</a>
      </li>
      <li class="nav-item">
          <a href="{% url 'popular' %}" class="nav-link" style="color: #9370DB">Популярное</a>
      </li>
      <li class="nav-item">
          <a href="{% url 'ask' %}" class="nav-link" style="color: #9370DB">Задать вопрос</a>
      </li>
    </ul>
    <p class="text-center text-muted">© 2021</p>
  </footer>
</div>

</body>
</html>
