{% extends 'qa/base.html' %}


{% block content %}
    {% for q in popular_page %}
        <div class="row border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250">
        <div class="col-7"><h5>{{ q.title }}</h5></div>
        <div class="col"><p><small>{{ q.added_at }}</small></p></div>
        <div class="col"><p><small>{{ q.views }}</small></p></div>
        <p><a class="h6" style="text-decoration: none; color: #9370DB" href="{{ q.get_absolute_url }}">Читать</a></p>
        </div>
    {% endfor %}
{% endblock %}


