{% extends 'qa/base.html' %}

{% block content %}
    <h2>{{ quest_page.title }}</h2>
    <h6>{{ quest_page.text }}</h6>
    {% for ans in answers %}
            <p>{{ ans.text }}</p>
    {% endfor %}
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-0 border" style="background-color: #f0f2f5">
                <div class="card-body p-4">
                    <form action="{{ quest_page.get_absolute_url }}" method="post">
                        {% csrf_token %}
                        <div class="form-control mb-4" id="add">
                            <label class="form-label" for="add">
                                Comment
                            </label>
                            {{ form.text }}
                        </div>
                        {{ form.question }}
                        {{ form.author }}
                        <button type="submit">Добавить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}